<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5 offset-lg-1">
      <%= form_with(model: @customer, url: customer_path, method: :patch, local: true, class: 'needs-validation', html: {novalidate: true}) do |f| %>
      <div class="row">
        <h4 class="col-lg-8 mb-3"><strong class="info-title">マイページ編集</strong></h4>
      </div>
      <div class="col mb-5 p-5 my-page-info g-3 needs-validation novalidate">
        <div class="field form-group">
          <%= f.label :"氏名" , class: "col-lg-3 col-md-5"%>
          <%= f.text_field :name, autofocus: true, class: 'col-md-6 col-lg-5 input_area', required: true %>
          <div class="invalid-feedback row offset-1 offset-md-5 offset-lg-3">
            氏名を入力してください。
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :"ふりがな" , class: "col-lg-3 col-md-5"%>
          <%= f.text_field :kana_name, autofocus: true, class: 'input_area col-md-6 col-lg-5', required: true %>
          <div class="invalid-feedback row offset-1 offset-md-5 offset-lg-3">
            ふりがなを入力してください。
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :"メールアドレス", class: "col-lg-3 col-md-5" %>
          <%= f.text_field :email, autofocus: true, autocomplete: "email" ,　autofocus: true, class: 'input_area col-md-6 col-lg-5', required: true %>
          <div class="invalid-feedback row offset-1 offset-md-5 offset-lg-3">
            メールアドレスを入力してください。
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :"郵便番号", class: "col-lg-3 col-md-5" %>
          <%= f.text_field :postal_code, autofocus: true, class: 'input_area col-md-6 col-lg-5', required: true %>
          <div class="invalid-feedback row offset-1 offset-md-5 offset-lg-3">
            郵便番号を入力してください。
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :"住所", class: "col-lg-3 col-md-5" %>
          <%= f.text_field :address, autofocus: true, class: 'input_area col-md-6 col-lg-5', required: true %>
          <div class="invalid-feedback row offset-1 offset-md-5 offset-lg-3">
            住所を入力してください。
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :"電話番号" , class: "col-lg-3 col-md-5" %>
          <%= f.text_field :phone_number, autofocus: true, class: 'input_area col-md-6 col-lg-5', required: true %>
           <div class="invalid-feedback row offset-1 offset-md-5 offset-lg-3">
            電話番号を入力してください。
           </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-8 offset-md-6 text-center">
            <%= button_tag(type: "submit", class: "btn btn-gray text-white") do %>
              編集内容を保存
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>