<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4"><%= image_tag 'cat.png',style: "background-size: cover;", size: "200x150" ,class: "carousel_image " %></div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 p-5 my-page-info ">
      <div class="row">
        <h4 class="col-md-3"><strong>登録情報</strong></h4>
        <div class="col-md-9 offset-3 text-right">
          <%= link_to edit_customer_path, class:"btn btn-yellow text-secondary" do %>
            編集する<i class="fas fa-user-edit"></i>
          <% end %>
        </div>
        </div>
        <div class="mt-3 pl-5 pr-5 ">
          <table class="table table-sm table-borderless my_info_table">
            <tbody>
              <tr>
                <th style="width: 40%">氏名</th>
                <td><%= @customer.name %></td>
              </tr>
              <tr>
                <th>カナ</th>
                <td><%= @customer.kana_name %></td>
              </tr>
              <tr>
                <th>郵便番号</th>
                <td><%= @customer.postal_code %></td>
              </tr>
              <tr>
                <th>住所</th>
                <td><%= @customer.address %></td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td><%= @customer.phone_number %></td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td><%= @customer.email %></td>
              </tr>
            </tbody>
          </table>
      　</div>
     </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 mt-5">
        <div class="row">
          <h4 class="col-md-3 ml-5"><strong>お子様情報</strong></h4>
        </div>
        <div class="mt-3">
          <table class="table table-bordered child_info_table text-nowrap">
          <thead class="">
            <tr class="">
              <th class="bg-green text-white">名前</th>
              <th class="bg-green text-white">ふりがな</th>
              <th class="bg-green text-white">誕生日</th>
              <th class="bg-green text-white">年齢</th>
              <th class="bg-green text-white">クラス</th>
            </tr>
          </thead>
          <tbody>
          <% @children.each do |child| %>
            <tr>
              <td><%= child.name %></td>
              <td><%= child.kana_name %></td>
              <td><%= child.birthday %></td>
              <td><%= (Date.today.strftime("%Y%m%d").to_i - child.birthday.strftime("%Y%m%d").to_i) / 10000  %> 歳
                <%= ((Date.today.strftime("%Y%m%d").to_i - child.birthday.strftime("%Y%m%d").to_i) /100 ).to_s.split("")[-1] %> カ月
              </td>
              <td><%= child.group.name %> </td>
            </tr>
          <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>



