<div class="container">
　<div><%= flash[:info_edit_success] %></div>
  <div class="row">
    <div class="col-md-7 p-5 my-page-info">
      <div class="row">
        <div class="col-md-3 mt-2 text-right ml-5">
          <strong class="info-title">登録情報</strong>
        </div>
        <div class="col-md-9 text-right">
          <%= link_to edit_customer_path, class:"btn text-right info_to_edit" do %>
            編集する<i class="fas fa-user-edit"></i>
          <% end %>
        </div>
        </div>
        <div class="mt-3 pl-5 pr-5 ">
          <table class="table table-sm table-borderless my_info_table">
            <tbody>
              <tr>
                <th style="width: 30%">氏名</th>
                <td><%= @customer.name %></td>
              </tr>
              <tr>
                <th>カナ</th>
                <td><%= @customer.kana_name %></td>
              </tr>
              <tr>
                <th>郵便番号</th>
                <td><%= @customer.postal_code %></td>
              </tr>
              <tr>
                <th>住所</th>
                <td><%= @customer.address %></td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td><%= @customer.phone_number %></td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td><%= @customer.email %></td>
              </tr>
            </tbody>
          </table>
      　</div>
     </div>
    </div>

<h3 class="offset-1">お子様情報</h3>
 <div class="row ml-5">

       <div class="col-md-7 mt-2 table-responsive">
        <table class="table table-bordered">
         <thead class="thead-light">
           <tr class="">
             <th>名前</th>
             <th>ふりがな</th>
             <th>誕生日</th>
             <th>クラス</th>

           </tr>
         </thead>
        <tbody>
        <% @children.each do |child| %>
           <tr>

             <td><%= child.name %></td>
             <td><%= child.kana_name %></td>
             <td><%= child.birthday %></td>

             <td>
             <%= child.group.name %>

             </td>

           </tr>
        <% end %>
        </tbody>
      </table>
     </div>
    </div>
    </div>

