<div class="container mb-5">
  <div class="row">
    <h2 class="col-md-4 mt-5">遊び集<span>（全<%= @games_all_count %>件）</span></h2>
    <div class="col-md-5 offset-md-2 mt-5">
      <%= render 'layouts/sort_game', link: games_path %>
    </div>
  </div>
  <% if customer_signed_in? %>
    <%= link_to favorites_path do %>
     <p><i class="far fa-heart"></i> お気に入り一覧</p>
    <% end %>
  <% end %>

  <div class='row px-md-0 ml-2'>
    <div class='col justify-content-end'>
      <div class='row mb-5'>
        <% @games.each do |game| %>
        <div class='card mx-1 border border mr-3 mt-5'>
          <%= link_to game_path(game) do %>
            <%= image_tag game.images[0] ,size: "240x160"%>
           <% end %>
          <%= link_to game_path(game) , class:"text-secondary" do  %>
            <%= game.title %>
          <% end %>
          <span id = "game_<%= game.id %>">
           <%= render "public/favorites/btn" , game: game%>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center mx-auto">
    <%= paginate @pages %>
  </div>
</div>
