<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5">
      <h2>遊び集<span>（全<%= @games_all_count %>件）</span></h2>
      <% if customer_signed_in? %>
        <%= link_to favorites_path do %>
         <p class="btn btn-danger text-white rounded-pill mt-3"><i class="far fa-heart"></i></p>
        <% end %>
      <% end %>
    </div>
    <div class="col text-right mb-5 mt-4">
      <%= render 'layouts/sort_game', link: games_path %>
    </div>
  </div>
  <div class='row px-md-0'>
    <div class='col-md-12 justify-content-end'>
      <div class='row mb-5'>
        <% @games.each do |game| %>
        <div class='card border border mx-3 mt-3'>
          <%= link_to game_path(game) do %>
            <%= image_tag game.images[0] ,size: "240x160"%>
           <% end %>
          <%= link_to game_path(game) , class:"text-secondary" do  %>
            <%= game.title %>
          <% end %>
          <span id = "game_<%= game.id %>">
           <%= render "public/favorites/btn" , game: game%>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center mx-auto">
    <%= paginate @pages %>
  </div>
</div>
