<div class="container mb-5">
  <div class="row">
    <% if @game_title %>
      <h2 class="mb-5 mt-5">"<%= @game_title %>"検索結果一覧<span>（全<%= @games_all_count %>件）</span></h2>
    <% else %>
      <h2 class="mb-5 mt-5">"<%= @tag.name %>"検索結果一覧<span>（全<%= @games_all_count %>件）</span></h2>
    <% end %>
    <div class="col-md-5 offset-md-2 mt-5">
      <%= render 'layouts/sort_game', link: games_path %>
    </div>
  </div>
  <div class='row px-md-0 ml-2 mt-5'>
    <div class='col-md-12 justify-content-end'>
      <div class='row mb-5'>
        <% @games.each do |game| %>
        <div class='card mx-1 border  mr-3 mb-5'>
          <%= link_to game_path(game) do %>
            <%= image_tag game.images[0] ,size: "240x160"%>
          <% end %>
          <%= link_to game_path(game) , class:"text-secondary" do %>
            <%= game.title %>
          <% end %>
          <%= link_to game_path(game) , class:"text-secondary" do %>
            <i class="fas fa-heart" aria-hidden="true" style="color:red;"></i>
            <%= game.favorites.count %> いいね
          <% end %>
          <div class="row">
            <% @tag_list.each do |list|%>
              <div class="col-md-4 ">
                <div>
                  <%=link_to search_tag_path(tag_id: list.id) do %>#<%= list.name %><% end %>
                </div>
              </div>
           <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="text-center mx-auto">
        <%= paginate @games %>
      </div>
    </div>
  </div>
</div>
