<div class="container">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-3 text-center">
      <% @game.images.each do |image| %>
        <div class=" col mt-3">
          <%= image_tag(image, width:200) %>
        </div>
      <% end %>
    </div>
    <div class='col-md-4 mt-3'>
      <h3><%= @game.title %></h3>
      <p class="mt-3"><%=safe_join(@game.body.split("\n"),tag(:br))%></p>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <p id = "game_<%= @game.id %>"><%= render "public/favorites/btn", game: @game %></p>
  </div>
  <div class="row d-flex justify-content-center">
    <% @game_tags.each do |tag| %>
      <%= link_to search_tag_path(tag_id: tag.id) do %><p class="btn btn-light text-secondary rounded-pill mx-1 py-0"><%=tag.name %></p><% end %>
    <% end %>
    </div>
    <div class="row d-flex justify-content-center">
      <% if admin_signed_in?  %>
        <%= link_to "編集", edit_admin_game_path(@game.id) ,class:"btn btn-sm btn-gray text-white col-md-1 col-2 ml-3 mt-5" %>
        <%= link_to "削除", admin_game_path(@game.id), class:"btn btn-sm btn-danger col-md-1 col-2 ml-3 mt-5", method: :delete, "data-confirm" => "Are you sure?" %>
      <% end %>
    </div>
</div>

