  <% if contact.status == "published" || admin_signed_in?%>
  <p class="mt-5"><strong class="info-title"><i class="fas fa-utensils" style="color: coral;"></i> 昼食</strong></p>
  <div class="field form-group row ">
    <div class="col-md-3 col-5 offset-4">
      <%= simple_format(contact.staple) %>
    </div>
  </div>
  <!--昼食のフォームを分ける場合-->
  <!-- <div class="field form-group row ">-->
  <!--  <p class="col-md-2 col-3 offset-md-2">主食</p>-->
  <!--  <div class="col-md-3 col-5">-->
  <!--    <%#=safe_join(contact.staple.split("\n"),tag(:br))%>-->
  <!--  </div>-->
  <!--  <div class="col-md-4 col-4">-->
  <!--    <%#= contact.staple_quantity_i18n %>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="field form-group row mt-3">-->
  <!--  <p class="col-md-2 col-3 offset-md-2">主菜</p>-->
  <!--  <div class="col-md-3 col-5">-->
  <!--   <%#=safe_join(contact.main.split("\n"),tag(:br))%>-->
  <!--  </div>-->
  <!--  <div class="col-md-4 col-4">-->
  <!--    <%#= contact.main_quantity_i18n %>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="field form-group row mt-3">-->
  <!--  <p class="col-md-2 col-3 offset-md-2">副菜</p>-->
  <!--  <div class="col-md-3 col-5">-->
  <!--    <%#=safe_join(contact.side.split("\n"),tag(:br))%>-->
  <!--  </div>-->
  <!--  <div class="col-md-3 col-4">-->
  <!--    <%#= contact.side_quantity_i18n %>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="field form-group row mt-3">-->
  <!--  <p class="col-md-2 col-3 offset-md-2">デザート</p>-->
  <!--  <div class="col-md-3 col-5">-->
  <!--    <%#=safe_join(contact.dessert.split("\n"),tag(:br))%>-->
  <!--  </div>-->
  <!--  <div class="col-md-3 col-4">-->
  <!--    <%#= contact.dessert_quantity_i18n %>-->
  <!--  </div>-->
  <!--</div>-->
  <p class="col border-top"></p>
  <strong class="info-title"><i class="far fa-smile" style="color: orange;"></i> 機嫌</strong>
  <div class="field form-group row">
    <div class="col-md-3 offset-4 mt-3">
      <%= contact.humor_i18n %>
    </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="fas fa-bed" style="color: cadetblue;"></i> 午睡</strong>
  <div class="field form-group row">
    <div class="col-md-3 col-8 offset-4 mt-3">
      <%= contact.nap_started_at&.strftime('%H:%M') %> ～
      <%= contact.nap_finished_at&.strftime('%H:%M') %>
    </div>
    <div class="col-md-3 col-2 mt-3">
      <%= contact.sleep_degree_i18n %>
    </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="fas fa-thermometer" style="color: darkseagreen;"></i> 検温</strong>
  <div class="field form-group row">
    <div class="col-md-1 col-3 offset-4 mt-3">
     <%= contact.temperture %>  ℃
    </div>
    <div class="col-md-3 col-2 offset-1 mt-3">
       <%= contact.tempertured_at.strftime('%H:%M') %>
      </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="fas fa-poo" style="color: peru;"></i> 排便</strong>
  <div class="field form-group row">
    <div class="col-md-1 col-4 offset-4 mt-3">
      <%= contact.defecation_i18n %>
    </div>
    <div class="col-md-3 col-3 offset-md-1 mt-3">
      <%= contact.defecation_number %> 回
    </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="fas fa-camera" style="color: gray;"></i> 写真</strong>
  <div class="field form-group row">
    <div class="offset-md-3"></div>
    <% if contact.images.present? %>
      <% contact.images.each do |image| %>
        <div class='mt-1 d-flex justify-content-start offset-4 offset-md-1'>
          <%= image_tag(image, width:150) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="far fa-comment" style="color: lightcoral;"></i> コメント</strong>
  <div class="field form-group row">
     <div class="col-md-5 offset-1 offset-md-4 mb-5 mt-3">
      <%=safe_join(contact.comment.split("\n"),tag(:br))%>
     </div>
  </div>
  <% if admin_signed_in? %>
    <div class="row">
      <div class="col-md-1 col-4 offset-1 offset-md-4 mt-3 border border-gray rounded-pill text-center pt-1">
        <%= contact.status_i18n  %>
      </div>
      <div class="col-md-6 col-6 mt-3">
        <%= link_to "編集する", edit_admin_customer_contact_path(contact.customer_id, contact.id), class: "btn btn-gray text-white rounded-pill col-md-3" %>
      </div>
    </div>
  <% end %>
<% end %>
