<p><strong class="info-title"><i class="fas fa-utensils" style="color: coral;"></i> 昼食</strong></p>
  <div class="field form-group row">
    <p class="col-lg-2 col-4 offset-lg-2">前日夕食</p>
    <div class="col-lg-3 col-5">
      <%= simple_format(contact.dinner) %>
    </div>
    <div class="col-lg-1 col-4 offset-4 offset-lg-0">
      <%= contact.dinner_quantity_i18n %>
    </div>
     <div class="col-lg-1 col-2">
      <%= contact.dinner_time&.strftime('%H:%M')%>
    </div>
  </div>
  <div class="field form-group row mt-3">
    <p class="col-lg-2 col-4 offset-lg-2">朝食</p>
    <div class="col-lg-3 col-5">
      <%= simple_format(contact.breakfast) %>
    </div>
      <div class="col-lg-1 col-4 offset-4 offset-lg-0">
      <%= contact.breakfast_quantity_i18n %>
    </div>
     <div class="col-lg-1 col-2">
      <%= contact.breakfast_time&.strftime('%H:%M')%>
    </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="far fa-smile" style="color: orange;"></i> 機嫌</strong>
  <div class="field form-group row">
    <div class="col-lg-3 offset-4 offset-lg-4 mt-3">
      <%= contact.humor_i18n %>
    </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="fas fa-bed" style="color: cadetblue;"></i> 睡眠</strong>
  <div class="field form-group row">
    <div class="col-sm-3 col-6 offset-4 offset-lg-4 mt-3">
      <%= contact.sleep_started_at&.strftime('%H:%M') %> ～
      <%= contact.sleep_finished_at&.strftime('%H:%M')%>
    </div>
    <div class="col-sm-3 col-6 offset-4 offset-sm-1 offset-lg-0 mt-3">
      <%= contact.sleep_degree_i18n %>
    </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="fas fa-thermometer" style="color: darkseagreen;"></i> 検温</strong>
  <div class="field form-group row">
    <div class="col-lg-1 col-3 offset-4 offset-lg-4 mt-3">
      <%= contact.temperture%>   ℃
    </div>
    <div class="col-lg-3 col-2 offset-1 offset-lg-2 mt-3">
     <%= contact.tempertured_at.strftime('%H:%M') %>
    </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="fas fa-poo" style="color: peru;"></i> 排便</strong>
  <div class="field form-group row">
    <div class="col-lg-1 col-4 offset-4 offset-lg-4 mt-3">
      <%= contact.defecation_i18n %>
    </div>
    <div class="col-lg-3 col-3 offset-lg-2 mt-3">
      <%= contact.defecation_number%> 回
    </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="fas fa-user" style="color: skyblue;"></i> お迎え</strong>
  <div class="field form-group row">
    <div class="col-lg-2 col-2 offset-4 offset-lg-4  mt-3">
      <%= contact.pickup_person %>
    </div>
    <div class="col-lg-3 col-2 offset-2 offset-lg-1 mt-3">
     <%= contact.pickuped_at&.strftime('%H:%M')%>
    </div>
  </div>
  <p class="col border-top"></p>
  <strong class="info-title"><i class="far fa-comment" style="color: lightcoral;"></i> コメント</strong>
  <div class="field form-group row">
    <div class="col-md-5 offset-md-4 offset-sm-4 offset-1 mb-5 mt-3">
     <%=safe_join(contact.comment.split("\n"),tag(:br))%>
    </div>
  </div>

