  <p class="col border-top"></p>
  <i class="fas fa-utensils"></i> 食事
  <div class="field form-group row">
    <p class="col-md-1 mt-3">前日の夜</p>
    <div class="col-md-4 text-center  mt-3">
      <%=safe_join(contact.dinner.split("\n"),tag(:br))%>
    </div>
    <div class="col-md-1 text-center mt-3">
      <%= contact.dinner_quantity_i18n %>
    </div>
    <div class="col-md-1 text-center  mt-3">
      <%= contact.dinner_time.strftime('%H:%M')%>
    </div>
  </div>
  <div class="field form-group row mt-3">
    <p class="col-md-1 mt-3">朝食</p>
    <div class="col-md-4 text-center mt-3">
      <%=safe_join(contact.breakfast.split("\n"),tag(:br))%>
    </div>
    <div class="col-md-1 text-center  mt-3">
      <%= contact.breakfast_quantity_i18n %>
    </div>
    <div class="col-md-1 text-center mt-3">
      <%= contact.breakfast_time.strftime('%H:%M')%>
    </div>
  </div>
  <p class="col border-top"></p>
  <i class="far fa-smile"></i> 機嫌
  <div class="field form-group row">
    <div class="col-md-2 text-center offset-md-2 mt-3">
      <%= contact.humor_i18n %>
    </div>
  </div>
  <p class="col border-top"></p>
  <i class="fas fa-bed"></i> 睡眠
  <div class="field form-group row">
    <div class="col-md-2  text-center offset-md-2 mt-3">
      <%= contact.sleep_started_at.strftime('%H:%M') %> ～
      <%= contact.sleep_finished_at.strftime('%H:%M')%>
    </div>
    <div class="col-md-3 text-center mt-3">
      <%= contact.sleep_degree_i18n %>
    </div>
  </div>
  <p class="col border-top"></p>
  <i class="fas fa-thermometer"></i> 検温
  <div class="field form-group row">
    <div class="col-md-2 text-center offset-md-2 mt-3">
      <%= contact.temperture%>  ℃
    </div>
    <div class="col-md-3 text-center mt-3">
      <%= contact.tempertured_at.strftime('%H:%M')%>
    </div>
  </div>
  <p class="col border-top"></p>
  <i class="fas fa-poo"></i> 排便
  <div class="field form-group row">
    <div class="col-md-2 offset-md-2 text-center mt-3">
     <%= contact.defecation_i18n  %>
    </div>
      <div class="col-md-3 text-center mt-3">
        <%= contact.defecation_number%> 回
      </div>
  </div>
  <p class="col border-top"></p>
  <i class="fas fa-user"></i> お迎え
  <div class="field form-group row">
    <div class="col-md-2 offset-md-2 text-center mt-3">
      <%= contact.pickup_person %>
    </div>
     <div class="col-md-3 text-center mt-3">
       <%= contact.pickuped_at.strftime('%H:%M')%>
     </div>
  </div>
  <p class="col border-top"></p>
  <i class="far fa-comment"></i> コメント
  <div class="field form-group row">
     <div class="col-md-5 offset-md-2 text-center mt-3">
       <%=safe_join(contact.comment.split("\n"),tag(:br))%>
     </div>
  </div>
