<div class="container mb-5">
  <%= link_to contacts_path do %>
    <h2 class="col-md-3 mt-5 text-center under offset-md-2 text-dark"><i class="far fa-clipboard"></i>&ensp;連絡帳一覧</h2>
  <% end %>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-12 mt-3 text-right">
      <%= link_to new_contact_path do %>
        <p class= "btn btn-yellow text-secondary mr-3"> <i class="fas fa-edit" aria-hidden="true"></i> 連絡帳作成</p>
      <% end %>
      <%= link_to absents_path do %>
        <p class= "btn btn-yellow text-secondary mr-3"> <i class="far fa-clipboard" aria-hidden="true"></i> 欠席・遅刻連絡</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-10 form-inline flex-row-reverse">
  <%= form_with url: contacts_path ,local: true, method: :get do |f| %>
    <%=  f.date_field :created_at ,class: "form-control col-md-10"%>
       <%= f.button :type => "submit", class: 'btn btn-outline-secondary' do %>
      <i class="fas fa-search"></i>
    <% end %>
 <% end %>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 mt-3 d-flex justify-content-center">
     <table class="table table-hover">
      <tbody>
        <thead>
          <th class="bg-green text-white col-7">投稿日</th>
          <th class="bg-green text-white col-5"></th>
        </thead>
        <% @contacts.each do |contact| %>
        <% created_at = contact.created_at.to_date.to_s %>
          <% child = contact.child %>
          <tr onclick='window.location="<%= show_contact_path(created_at: created_at, child_id: child.id)  %>"' role="link">
            <td><%=I18n.l(contact.created_at, format: :short) %></td>
            <td><%= contact.child.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
  </div>
  <div class="offset-md-8 offset-sm-6">
    <%= paginate @contact_page %>
  </div>
</div>

