<div class="container">
  <h2 class="my-5 col-md-10 text-center">連絡帳</h2>
  <div class="row">
    <div class="col-md-4 mb-3 text-center ">
      <% weeks = ["日","月","火","水","木","金","土"]%>
      <% week = weeks[@contact.created_at.wday]%>
     <h4 class="mt-4"><%= @contact.updated_at.strftime("%Y年%m月%d日 (#{week})")%></h4>
    </div>
    <div class="col-md-5 mt-4 mb-3 text-center ">
     <h4><%= @contact.child.name %> さん</h4>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">園から</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"> 家庭から</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <p class="col border-top"></p>
      <i class="fas fa-utensils"></i> 昼食
      <div class="field form-group row mt-3">
        <p class="col-md-2">主食</p>
        <div class="col-md-3 ">
          <%=safe_join(@contact_from_en.staple.split("\n"),tag(:br))%>
        </div>
        <div class="col-md-4">
          <%= @contact_from_en.staple_quantity_i18n %>
        </div>
      </div>
      <div class="field form-group row mt-3">
        <p class="col-md-2">主菜</p>
        <div class="col-md-3">
         <%=safe_join(@contact_from_en.main.split("\n"),tag(:br))%>
        </div>
        <div class="col-md-4">
          <%= @contact_from_en.main_quantity_i18n %>
        </div>
      </div>
      <div class="field form-group row mt-3">
        <p class="col-md-2">副菜</p>
        <div class="col-md-3">
          <%=safe_join(@contact_from_en.side.split("\n"),tag(:br))%>
        </div>
        <div class="col-md-4">
          <%= @contact_from_en.side_quantity_i18n %>
        </div>
      </div>
      <div class="field form-group row mt-3">
        <p class="col-md-2">デザート</p>
        <div class="col-md-3">
          <%=safe_join(@contact_from_en.dessert.split("\n"),tag(:br))%>
        </div>
        <div class="col-md-4">
          <%= @contact_from_en.dessert_quantity_i18n %>
        </div>
      </div>
      <p class="col border-top"></p>
      <i class="far fa-smile"></i> 機嫌
      <div class="field form-group row">
        <div class="col-md-3 offset-2 mt-3">
          <%= @contact_from_en.humor_i18n %>
        </div>
      </div>
      <p class="col border-top"></p>
       <i class="fas fa-bed"></i> 午睡
      <div class="field form-group row">
        <div class="col-md-3 offset-2 mt-3">
          <%= @contact_from_en.nap_started_at.strftime('%H:%M') %> ～
          <%= @contact_from_en.nap_finished_at.strftime('%H:%M') %>
        </div>
        <div class="col-md-3 mt-3">
          <%= @contact_from_en.sleep_degree_i18n %>
        </div>
      </div>
      <p class="col border-top"></p>
      <i class="fas fa-thermometer"></i> 検温
      <div class="field form-group row">
        <div class="col-md-1 offset-2 mt-3">
         <%= @contact_from_en.temperture %>  ℃
        </div>
        <div class="col-md-3 offset-2 mt-3">
         <%= @contact_from_en.tempertured_at.strftime('%H:%M') %>
        </div>
      </div>
        <p class="col border-top"></p>
       <i class="fas fa-poo"></i> 排便
      <div class="field form-group row">
        <div class="col-md-1 offset-2 mt-3">
         <%= @contact_from_en.defecation_i18n %>
        </div>
        <div class="col-md-3 offset-2 mt-3">
         <%= @contact_from_en.defecation_number %> 回
        </div>
      </div>
      <p class="col border-top"></p>
      <i class="fas fa-camera"></i> 写真
      <div class="field form-group row">
         <div class="col-md-5 offset-2 mt-3">
          <%= image_tag @contact_from_en.image, size: "150x150"%>
         </div>
      </div>
      <p class="col border-top"></p>
      <i class="far fa-comment"></i> コメント
      <div class="field form-group row">
         <div class="col-md-5 offset-2 mb-5 mt-3">
          <%=safe_join(@contact_from_en.comment.split("\n"),tag(:br))%>
         </div>
      </div>
      <% if admin_signed_in? %>
        <p class="col border-top"></p>
        <%= link_to "編集する", edit_admin_customer_contact_path(@contact_from_en.id), class: "btn btn-gray text-white rounded-pill col-md-2 offset-lg-5" %>
      <% end %>
    </div>
    <%#= render "public/contacts/admin_contact", contact_from_en: @contact_from_en  %>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
     <%= render "public/contacts/show", contact: @contact %>
    </div>
 </div>
</div>
