<%# 連絡 と 欠席 2種類ある %>
<% if notification.contact_id == nil %>
<%# つまり欠席%>
 <ul>
    <li>
    　<% weeks = ["日","月","火","水","木","金","土"]%>
      <% week = weeks[notification.created_at.wday]%>
     【 <%= notification.created_at.strftime("%Y年%m月%d日 (#{week})") %> 】
      <strong> <%= link_to admin_customer_absents_path(notification.customer) do %><%=notification.customer.name %><% end %></strong>さんから【欠席・遅刻連絡】が届いています。
    <%= "(#{time_ago_in_words(notification.created_at)} 前)" %></li>
  </ul>
<% else %>
<%# つまり連絡%>
<ul>
    <li>
    　<% weeks = ["日","月","火","水","木","金","土"]%>
      <% week = weeks[notification.created_at.wday]%>
    【 <%= notification.created_at.strftime("%Y年%m月%d日 (#{week})") %> 】
    <strong ><%= link_to admin_customer_contacts_path(notification.customer) do %><%=notification.customer.name %><% end %></strong>さんから【連絡帳】が届いています。
     <%= "(#{time_ago_in_words(notification.created_at)} 前)" %></li>
  </ul>
<% end %>

