<div class="container">
  <h2 class="col-lg-8 mt-5 mb-3 text-center under offset-lg-2">欠席・遅刻連絡<span>（全<%= @absents.count %>件）</span></h2>
  <div class="row">
    <div class="col-lg-3 offset-lg-2">
      <%= link_to new_absent_path do %>
        <p class= "btn btn-yellow text-secondary"><i class="fas fa-edit" aria-hidden="true"></i> 欠席・遅刻連絡</p>
      <% end %>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 mt-5">
      <table class="table table-hover">
        <tbody>
          <thead>
            <th class="bg-green text-white">投稿日</th>
            <th class="bg-green text-white"></th>
          </thead>
        <% @absents.each do |absent| %>
            <% date = absent.created_at.to_s(:detetime)%>
            <tr>
              <td>
                <%= link_to absent_path(absent) do %>
                  <span class="text-dark"><%= l(absent.created_at, format: :short) %></span>
                <% end %>
              </td>
              <td><%= absent.kind_i18n %>連絡</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="offset-lg-8 offset-sm-6">
    <%= paginate @absents %>
  </div>
</div>
