<div class="container">
  <h2 class="my-5 col-md-10 text-center">欠席・遅刻連絡</h2>
   <%= form_with model: @absent , url: absents_path, method: :post do |f| %>
  <div class="row mb-3">
    <h4 class="col-md-4 col-7 mb-3 mt-3 offset-md-2"><%= @absent.date %> </h4>
    <div class="col-md-5 col-5 mt-3 mb-3">
      <%= f.select :child_id,options_from_collection_for_select(Child.all, :id, :name), {}, class: "form-control col-md-5"%>
    </div>
  </div>
  <p class="border-top mt-5"></p>
  <i class="far fa-check-circle" style="color: coral;"></i> 種別
  <div class="field form-group row">
    <div class="col-md-4 offset-4 mt-3">
      <%= f.radio_button :kind, "absence" , required: true%>
      <%= f.label :kind,"欠席" ,class:"mr-3"%>
      <%= f.radio_button :kind, "lateness",class:"offset-1" %>
      <%= f.label :kind,"遅刻" %>
      <!--selectにする場合↓-->
      <!--</%= f.select :kind,Absent.kinds.keys.map{|k| [I18n.t("enums.absent.kind.#{k}"),k]} %>-->
    </div>
  </div>
  <p class="border-top"></p>
  <i class="far fa-calendar-alt" style="color: gold;"></i> 期間
  <div class="field form-group row">
    <div class="col-md-4 offset-4 mt-3">
      <%= f.date_field :started_on, autofocus: true %> ～
      <%= f.date_field :finished_on, autofocus: true ,class: "mr-2"%>
    </div>
  </div>
  <p class="border-top"></p>
  <i class="fas fa-notes-medical" style="color: skyblue;"></i> 症状
  <div class="field form-group row">
    <div class="col-md-4 col-8 offset-3 offset-md-4">
      <%= f.text_area :symptom, autofocus: true, size: "40x5" %>
    </div>
  </div>
  <p class="border-top"></p>
  <i class="far fa-comment" style="color: lightcoral;"></i> 備考
  <div class="field form-group row">
    <div class="col-md-4 col-8 offset-3 offset-md-4">
      <%= f.text_area :note, autofocus: true, size: "40x5" %>
    </div>
  </div>
  <div class="col-md-11 text-center">
      <%= f.submit "登録", class: "btn btn-gray text-white rounded-pill mt-5 col-md-2 col-4 offset-md-1" %>
  </div>
  <% end %>
</div>


