<div class="container">
  <h2 class="my-5 col-md-10 text-center">欠席・遅刻連絡</h2>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 col-7 mt-3 text-left">
      <% weeks = ["日","月","火","水","木","金","土"]%>
      <% week = weeks[@absent.created_at.wday]%>
      <h4><%= @absent.created_at.strftime("%Y年%m月%d日 (#{week})") %></h4>
    </div>
    <div class="col-md-4 col-5 mt-3">
      <h4><%= @absent.child.name %> さん</h4>
    </div>
  </div>
  <p class="col-md-8 border-top mt-5 offset-md-1"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-md-1">
      <strong class="info-title"><i class="far fa-check-circle" style="color: coral;"></i> 種別</strong>
    </div>
    <div class="col-md-4 mt-5 mb-4 offset-md-2 offset-5">
      <%= @absent.kind_i18n %>
    </div>
  </div>
  <p class="col-md-8 border-top mt-3 offset-md-1"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-md-1">
      <strong class="info-title"><i class="far fa-calendar-alt" style="color: gold;"></i> 期間</strong>
    </div>
    <div class="col-md-4 mt-5 mb-4  offset-md-2 offset-5">
      <%= @absent.started_on %> ～
      <%= @absent.finished_on%>
    </div>
  </div>
  <p class="col-md-8 border-top mt-3 offset-md-1"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-md-1">
     <strong class="info-title"><i class="fas fa-notes-medical" style="color: skyblue;"></i> 症状</strong>
    </div>
    <div class="col-md-4 mt-5 mb-4  offset-md-2 offset-5">
     <%= @absent.symptom %>
    </div>
  </div>
  <p class="col-md-8 border-top mt-3 offset-md-1"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-md-1">
      <strong class="info-title"><i class="far fa-comment" style="color: lightcoral;"></i> 備考</strong>
    </div>
    <div class="col-md-4 mt-5 mb-4  offset-md-2 offset-5">
      <%= @absent.note %>
    </div>
  </div>
</div>


