<div class="container">
  <h2 class="mt-5 col-md-5 text-center">欠席・遅刻連絡</h2>
  <div class="form-group row">
    <div class="col-md-4 mt-3">
      <h3><%= @absent.created_at.strftime('%Y年 %m月 %d日') %></h3>
    </div>
    <div class="col-md-4 mt-3">
      <h3><%= @absent.child.name %> さん</h3>
    </div>
  </div>
  <p class="col-md-8 border-top"></p>
  <i class="far fa-check-circle"></i> 種別
  <div class="field form-group row">
    <div class="col-md-4 offset-2">
      <%= @absent.kind_i18n %>
    </div>
  </div>
  <p class="col-md-8 border-top"></p>
  <i class="far fa-calendar-alt"></i> 期間
  <div class="field form-group row">
    <div class="col-md-4 offset-2">
      <%= @absent.started_on %> ～
      <%= @absent.finished_on%>
    </div>
  </div>
  <p class="col-md-8 border-top"></p>
  <i class="fas fa-notes-medical"></i> 症状
  <div class="field form-group row">
    <div class="col-md-3 offset-2">
     <%= @absent.symptom %>
    </div>
   </div>
  <p class="col-md-8 border-top"></p>
  <i class="far fa-comment"></i> 備考
  <div class="field form-group row">
    <div class="col-md-5 offset-2">
      <%= @absent.note %>
    </div>
  </div>

</div>


