<div class="container">
  <div class="row">
    <div class="col mt-5">
      <h2><%= @weekly_plan.created_at.strftime("%Y年%m月") %> 週間指導案</h2>
      <h2><%= @group.age %> 歳児 <%= @group.name %></h2>
      <%= form_with model: @weekly_plan, url: admin_group_weekly_plan_path(@weekly_plan), method: :patch , local: true do |f| %>
        <%= render partial: "form", locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>
