<div class="container">
  <h2 class="col-md-8 col-lg-5 mt-5 offset-md-3 under text-center">お知らせ一覧<span>（全<%= @news.count %>件）</span></h2>
  <div class="row">

     <div class="col-md-4 offset-md-6 text-right">
      <%= link_to  new_admin_news_path do %>
        <p class= "btn btn-yellow text-secondary"><i class="fas fa-edit" aria-hidden="true"></i> お知らせ作成</p>
      <% end %>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th class="bg-green text-white">投稿日</th>
            <th class="bg-green text-white">タイトル</th>
            <th class="bg-green text-white"></th>
        　</tr>
        </thead>
        <tbody>
          <% @news.each do |news| %>
          <% date = news.created_at.to_s(:detetime)%>
            <tr>
              <td>
               <%= link_to admin_news_path(news) do %><p class="text-secondary"><%= I18n.l(news.created_at, format: :short) %></p><% end %>
              </td>
              <td><%= link_to admin_news_path(news) do %><p class="text-secondary"><%= news.title %></p><% end %></td>
              <td><%= link_to "削除", admin_news_path(news), class: "btn btn-outline-danger rounded-pill ml-3", method: :delete, "data-confirm" => "本当に削除してよろしいですか?" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="offset-md-8 offset-sm-6">
    <%= paginate @news %>
  </div>
  </div>

