<div class="container">
  <div class="row mt-5">
    <div class="col col-lg-7 mt-5">
      <%= month_calendar(attribute: :started_on, end_attribute: :finished_on, events: @news) do |date, news|%>
        <%= date.day %>
        <% is_holiday_name = HolidayJapan.name(Date.new(date.year, date.month, date.day)) %>
        <span class="holiday_name"><%= is_holiday_name %></span>
        <% news.each do |news| %>
          <div class="event-font">
            <%= link_to admin_news_path(news) do %><span class="text-secondary bg-yellow"><%= news.title %></span><% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-5">
      <% if admin_signed_in? %>
        <%= link_to  new_admin_news_path do %>
         <p class= "btn btn-yellow text-secondary"><i class="fas fa-edit" aria-hidden="true"></i> お知らせ作成</p>
        <% end %>
      <% end %>
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th class="bg-green text-white" style="width: 30%">日付</th>
            <th class="bg-green text-white">タイトル</th>
            <!--<th class="bg-green text-white">クラス名</th>-->
        　</tr>
        </thead>
        <tbody>
          <% @news.each do |news| %>
          <% date = news.created_at.to_s(:detetime)%>
          <% week = %w(日 月 火 水 木 金 土)[news.started_on.wday]%>
            <tr onclick='window.location="<%= admin_news_path(news) %>"' role="link">
              <td><%= news.started_on.strftime("%Y年%m月%d日(#{week})") %></td>
              <td><%= news.title %></td>
              <!--<td><%# news.groups.each do |group| %>-->
              <!--      <#%= group.name %>-->
              <!--    <%# end %>-->
              <!--</td>-->
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mx-auto">
        <%= paginate @news %>
      </div>
    </div>
  </div>
</div>

