<div class="container">
  <div class="row mt-5">
    <div class="col-lg-8 offset-lg-2 text-center under">
      <h2><%= @news.group.name %> お知らせ詳細</h2>
    </div>
  </div>
  <p class="col-lg-8 border-top mt-5 offset-lg-2"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-2">
      <strong class="info-title"><i class="fas fa-book-open" style="color: skyblue;"></i>  タイトル</strong>
    </div>
    <div class="col-lg-4 mt-2 offset-lg-1 offset-3">
      <%= @news.title %>
    </div>
  </div>
  <p class="col-lg-8 border-top mt-3 offset-lg-2"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-2">
      <strong class="info-title"><i class="far fa-calendar-alt" style="color: gold;"></i> 期間</strong>
    </div>
    <div class="col-lg-4 mt-2 offset-lg-1 offset-3">
      <%= @news.started_on %> ～
      <%= @news.finished_on%>
    </div>
  </div>
  <p class="col-lg-8 border-top mt-3 offset-lg-2"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-2">
      <strong class="info-title"><i class="far fa-comment" style="color: lightcoral;"></i> 詳細</strong>
    </div>
    <div class="col-lg-4 mt-3 mb-4 offset-lg-1 offset-3">
      <%=safe_join(@news.body.split("\n"),tag(:br))%>
    </div>
  </div>
</div>


