<div class="container">
  <div class="row mt-5">
    <div class="col-md-5 offset-md-3 text-center under">
      <h2><%= @news.group.name %> さん お知らせ詳細</h2>
    </div>
  </div>
  <p class="col-md-8 border-top mt-5 offset-md-1"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-md-2">
      <strong class="info-title"><i class="fas fa-book-open" style="color: skyblue;"></i>  タイトル</strong>
    </div>
    <div class="col-md-4 mt-2 offset-md-1 offset-4">
      <%= @news.title %>
    </div>
  </div>
  <p class="col-md-8 border-top mt-3 offset-md-1"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-md-2">
      <strong class="info-title"><i class="far fa-calendar-alt" style="color: gold;"></i> 期間</strong>
    </div>
    <div class="col-md-4 mt-2 offset-md-1 offset-4">
      <%= @news.started_on %> ～
      <%= @news.finished_on%>
    </div>
  </div>
  <p class="col-md-8 border-top mt-3 offset-md-1"></p>
  <div class="row d-flex justify-content-center">
    <div class="col-md-2">
      <strong class="info-title"><i class="far fa-comment" style="color: lightcoral;"></i> 詳細</strong>
    </div>
    <div class="col-md-4 mt-3 mb-4 offset-md-1 offset-4">
      <%=safe_join(@news.body.split("\n"),tag(:br))%>
    </div>
  </div>
</div>


