<div class="container">
  <div class="row">
    <div class="col mt-5">
      <h2 class="text-dark text-center col-lg-7 col-md-10 offset-md-2 under"><%= @customer.name %>さん 会員情報編集</h2>
      <%= form_with(model: @customer,url: admin_customer_path(@customer), local: true, class: 'needs-validation', html: {novalidate: true}) do |f| %>
      <div class="col g-3 needs-validation novalidate mt-5">
        <div class="field form-group row offset-md-2">
          <%= f.label :"氏名" , class: "col-lg-4 col-md-4"%>
          <%= f.text_field :name, autofocus: true, class: 'form-control col-md-6 col-lg-3', required: true %>
          <div class="invalid-feedback row offset-1 offset-md-4">
            氏名を入力してください。
          </div>
        </div>
        <div class="field form-group row offset-md-2">
          <%= f.label :"ふりがな" , class: "col-lg-4 col-md-4"%>
          <%= f.text_field :kana_name ,autofocus: true, class: 'form-control col-md-6 col-lg-3', required: true %>
          <div class="invalid-feedback row offset-1 offset-md-4">
            ふりがなを入力してください。
          </div>
        </div>
        <div class="field form-group row offset-md-2">
          <%= f.label :"メールアドレス", class: "col-lg-4 col-md-4" %>
          <%= f.text_field :email, autofocus: true, autocomplete: "email" ,　autofocus: true, class: 'form-control col-md-6 col-lg-3', required: true %>
          <div class="invalid-feedback row offset-1 offset-md-4">
            メールアドレスを入力してください。
          </div>
        </div>
        <div class="field form-group row offset-md-2">
          <%= f.label :"郵便番号", class: "col-lg-4 col-md-4" %>
          <%= f.text_field :postal_code ,autofocus: true, class: 'form-control col-md-6 col-lg-3', required: true  %>
          <div class="invalid-feedback row offset-1 offset-md-4">
            郵便番号を入力してください。
          </div>
        </div>
        <div class="field form-group row offset-md-2">
          <%= f.label :"住所", class: "col-lg-4 col-md-4" %>
          <%= f.text_field :address, autofocus: true, class: 'form-control col-md-6 col-lg-7', required: true%>
          <div class="invalid-feedback row offset-1 offset-md-4">
            住所を入力してください。
          </div>
        </div>
        <div class="field form-group row offset-md-2">
          <%= f.label :"電話番号" , class: "col-lg-4 col-md-4" %>
          <%= f.text_field :phone_number, autofocus: true, class: 'form-control col-md-6 col-lg-3', required: true %>
           <div class="invalid-feedback row offset-1 offset-md-4">
            電話番号を入力してください。
           </div>
        </div>
        <div class="field form-group row offset-md-2">
        <%= f.label :"会員ステータス", class: "col-md-4 col-12 mt-3" %>
        <div class="field form-group col-md-2 col-5 mt-3">
      　<%= f.radio_button :is_deleted, false%>
        <%= f.label :is_deleted, "有効", {value: :ok, style: "display: inline-block;"} %>
    　  </div>
    　  <div class="field form-group col-md-2 col-5 mt-3">
       　<%= f.radio_button :is_deleted, true %>
         <%= f.label :is_deleted, "退会", {value: :no, style: "display: inline-block;"} %>
       </div>
     </div>
     <div class="col-md-9 text-center">
      <%= f.submit "変更", class: "btn btn-gray col-md-4 col-6 rounded-pill  text-white offset-md-6 mt-5 " %>
     </div>
    <% end %>
    </div>
  </div>
</div>