<div class="container">
  <h2 class="mt-5 mb-3 col-md-3 offset-md-2 text-center under">会員一覧</h2>
  <div class="row">
    <div class="col-lg-4 offset-md-2">
      <%= link_to new_customer_registration_path do%>
        <p class= "btn btn-yellow text-secondary"><i class="far fa-address-card "></i>会員新規登録</p>
      <% end %>
    </div>
    <div class="col-md-11 form-inline d-block text-right">
    <%= form_with url: admin_search_path ,local: true, method: :get do |f| %>
      <%= f.search_field :name, class: "form-control search col-md-10 hoge", placeholder: " 名前検索" %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class='col-md-2 mt-4'>
      <%= render "admin/customers/group", groups: @groups %>
    </div>
    <div class="col-md-9">
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <!--<th class="bg-green text-white" style="width: 10%">会員ID</th>-->
          <th class="bg-green text-white">氏名</th>
          <th class="bg-green text-white">電話番号</th>
          <th class="bg-green text-white" style="width: 20%"></th>
        </tr>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
        <tr onclick='window.location="<%= admin_customer_path(customer) %>"' role="link">
          <!--<td><%#= customer.id %></td>-->
          <td><%= customer.name %></td>
          <td><%= customer.phone_number %></td>
          <td id="is_deleted<%= customer.id %>" class="text-success">
            <%= I18n.t("enums.customer.is_deleted.#{customer.is_deleted}") %>
            <script>
              if(<%= customer.is_deleted%>){
                var element = document.querySelector('#is_deleted<%= customer.id %>');
                element.className = 'text-secondary';
              }
            </script>
          </td>
        </tr>
      <% end %>
      </tbody>
   </table>
   </div>
  </div>
  <div class="col offset-5 text-center">
    <%= paginate @customers %>
  </div>
</div>
