<div class="container">
  <h2 class="mt-5 mb-3 col-md-6 text-center">会員一覧</h2>
  <div class="col-md-11 form-inline d-block text-right">
    <%= form_with url: admin_search_path ,local: true, method: :get do |f| %>
      <%= f.text_field :name ,class: "form-control col-md-2",placeholder: "名前で検索"%>
      <%= button_tag :type => "submit", :class =>"btn btn-outline-secondary" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class='col-md-2 mt-5'>
      <%= render "admin/customers/group", groups: @groups %>
    </div>
    <div class="col-md-9">
    <table class="table table-hover mt-5">
      <thead>
        <tr>
          <th class="bg-light">会員ID</th>
          <th class="bg-light">氏名</th>
          <th class="bg-light">電話番号</th>
          <th class="bg-light">ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
        <tr onclick='window.location="<%= admin_customer_path(customer) %>"' role="link">
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%= customer.phone_number %></td>
          <td id="is_deleted<%= customer.id %>" class="text-success">
            <%= I18n.t("enums.customer.is_deleted.#{customer.is_deleted}") %>
            <script>
              if(<%= customer.is_deleted%>){
                var element = document.querySelector('#is_deleted<%= customer.id %>');
                element.className = 'text-secondary';
              }
            </script>
          </td>
        </tr>
      <% end %>
      </tbody>
   </table>
   </div>
  </div>
  <div class="col offset-5 text-center">
    <%= paginate @customers %>
  </div>
</div>
