    <div class="field form-group row mt-5">
      <%= f.label :"タイトル", class: "col-md-2" %>
      <%= f.text_field :title,autofocus: true%>
    </div>
    <div class="field form-group row mt-5">
      <%= f.label :"遊び方の詳細", class: "col-md-2" %>
      <%= f.text_area :body,autofocus: true, size: "80x5"%>
    </div>
    <div class="field form-group row mt-5">
      <%= f.label :"写真", class: "col-md-2" %>
      <%= f.file_field :images, multiple: true %>
    </div>
    <div class="field offset-2 mt-5">
      <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
      <%= f.text_field :name,value: @tag_list,class:"form-control col-md-5"%>
    </div>

