<div class="container">
  <div class='row'>
    <h2 class="col-lg-7 under text-center my-5 offset-lg-3">お気に入り一覧<span>（全<%= @favorites_all_count %>件）</span></h2>
  </div>
  <div class='row d-flex justify-content-start'>
    <div class='row mb-5 offset-2 offset-lg-1 offset-sm-0'>
      <% if @favorites.exists? %>
        <% @favorites.each do |favorite| %>
          <div class='card border ml-3 mt-3'>
            <%= link_to game_path(favorite.game_id) do %>
             <%= image_tag favorite.game.images[0],size: "225x160" %>
            <% end %>
            <%= link_to game_path(favorite.game_id), class: "text-secondary" do %>
              <%= favorite.game.title %>
            <% end %>
            <%= link_to game_path(favorite.game_id) , class:"text-secondary" do %>
              <i class="fas fa-heart" aria-hidden="true" style="color:red;"></i>
              <%= favorite.game.favorites.count %> いいね
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center mx-auto">
    <%= paginate @favorites %>
  </div>
</div>

