<p class="border-top"></p>
<strong class="info-title"><i class="fas fa-utensils" style="color: coral;"></i> 昼食</strong>
<div class="field form-group row">
  <div class="col d-flex justify-content-center mt-3">
    <%= f.text_area :staple, placeholder: "内容：　食べた量",autofocus: true, rows: "5",  cols: "45",:id => "js-copytext"%>
  </div>
</div>
<button type="button" id="js-copybtn" class="btn btn-gray text-white rounded-pill py-0 offset-9 offset-md-7 mb-3">copy</button>
<!--昼食のフォームを分ける場合-->
<!--<p class="border-top"></p>-->
<!--<div class="field form-group row mt-3">-->
<!-- <p class="col-md-1 offset-md-2">主食</p>-->
<!-- <div class="col-md-3 col-6 offset-md-1">-->
<!--   <%#= f.text_area :staple, placeholder: "内容",autofocus: true, size: "30x1"%>-->
<!-- </div>-->
<!-- <div class="col-md-2 col-5 offset-md-1">-->
<!--   <%#= f.select :staple_quantity,Contact.staple_quantities.keys.map{|k| [I18n.t("enums.contact.staple_quantity.#{k}"),k]} , {}, {class: "form-control"}%>-->
<!-- </div>-->
<!--</div>-->
<!--<div class="field form-group row">-->
<!--  <p class="col-md-1 offset-md-2">主菜</p>-->
<!--  <div class="col-md-3 col-6 offset-md-1">-->
<!--    <%#= f.text_area :main, placeholder: "内容",autofocus: true, size: "30x1"%>-->
<!--  </div>-->
<!--  <div class="col-md-2 col-5 offset-md-1">-->
<!--    <%#= f.select :main_quantity,Contact.main_quantities.keys.map{|k| [I18n.t("enums.contact.main_quantity.#{k}"),k]}, {}, {class: "form-control"} %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="field form-group row">-->
<!--  <p class="col-md-1 offset-md-2">副菜</p>-->
<!--  <div class="col-md-3 col-6 offset-md-1">-->
<!--    <%#= f.text_area :side, placeholder: "内容",autofocus: true, size: "30x1"%>-->
<!--  </div>-->
<!--  <div class="col-md-2 col-5 offset-md-1">-->
<!--    <%#= f.select :side_quantity,Contact.side_quantities.keys.map{|k| [I18n.t("enums.contact.side_quantity.#{k}"),k]} , {}, {class: "form-control"}%>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="field form-group row">-->
<!--  <p class="col-md-1 offset-md-2">デザート</p>-->
<!--  <div class="col-md-3 col-6 offset-md-1">-->
<!--    <%#= f.text_area :dessert, placeholder: "内容",autofocus: true, size: "30x1"%>-->
<!--  </div>-->
<!--  <div class="col-md-2 col-5 offset-md-1">-->
<!--    <%#= f.select :dessert_quantity,Contact.dessert_quantities.keys.map{|k| [I18n.t("enums.contact.dessert_quantity.#{k}"),k]}, {}, {class: "form-control"} %>-->
<!--  </div>-->
<!--</div>-->
<p class="border-top"></p>
<strong class="info-title"><i class="far fa-smile" style="color: orange;"></i> 機嫌</strong>
<div class="field form-group row ml-3">
  <div class="btn-group btn-group-toggle offset-3 offset-md-4" data-toggle="buttons">
  <label class="btn btn-yellow active text-white pb-0">
    <%= f.radio_button :humor, "good" , {checked: true}%><strong><i class="far fa-laugh-beam" style="color: orang; font-size: 2em;"></i></strong><br>良い
  </label>
  <label class="btn btn-green active text-white">
     <%= f.radio_button :humor, "usually"%><strong><i class="far fa-smile" style="color: orang; font-size: 2em;"></i></strong><br>普通
  </label>
  <label class="btn btn-gray active text-white">
    <%= f.radio_button :humor , "bad"%><strong><i class="far fa-tired" style="color: blu; font-size: 2em;"></i></strong><br>悪い
  </label>
  </div>
</div>
  <p class="border-top"></p>
<strong class="info-title"><i class="fas fa-bed" style="color: cadetblue;"></i> 午睡</strong>
<div class="field form-group row">
  <div class="col-md-6 col-12 mt-3 offset-3 offset-md-4">
    <%= f.time_field :nap_started_at, autofocus: true, required: true %> <span>～</span>
    <%= f.time_field :nap_finished_at, autofocus: true, required: true%>
  </div>
 </div>
<p class="border-top"></p>
<strong class="info-title"><i class="fas fa-thermometer" style="color: darkseagreen;"></i> 検温</strong>
<div class="field form-group row">
  <div class="col-md-6 col-xs-12 mt-3 offset-3 offset-md-4">
   <%= f.text_field :temperture, placeholder: "体温", autofocus: true , size: "5x4", required: true%><span>℃</span>
   <%= f.time_field :tempertured_at, autofocus: true , class: "ml-1", required: true%>
  </div>
</div>
<p class="border-top"></p>
<strong class="info-title"><i class="fas fa-poo" style="color: peru;"></i> 排便</strong>
<div class="field form-group row">
  <div class="col-5 col-md-3 col-lg-2 offset-3 offset-md-4">
    <%= f.select :defecation,Contact.defecations.keys.map{|k| [I18n.t("enums.contact.defecation.#{k}"),k]} , {}, class: "form-control" %>
  </div>
  <div class="col-xs-3 mt-1">
    <%= f.text_field :defecation_number, autofocus: true , placeholder: "回数", size: "3x3"%>
  </div>
</div>
<p class="border-top"></p>
<strong class="info-title"><i class="fas fa-camera" style="color: gray;"></i> 写真</strong>
<div class="field form-group row">
  <div class="col-md-5 offset-3 mt-3 offset-md-4">
    <%= f.file_field :images, multiple: true %>
   </div>
</div>
<p class="border-top"></p>
<strong class="info-title"><i class="far fa-comment" style="color: lightcoral;"></i> コメント</strong>
<div class="field form-group row">
  <div class="col d-flex justify-content-center mt-3">
    <%= f.text_area :comment, autofocus: true, rows: "5",  cols: "45" %>
  </div>
</div>
<p class="border-top mt-4"></p>