<p class="border-top"></p>
<strong class="info-title"><i class="fas fa-utensils" style="color: coral;"></i> 昼食</strong>
<div class="field form-group row">
  <div class="col-md-5 offset-md-3 offset-1 mt-3">
    <%= f.text_area :staple, placeholder: "内容：　食べた量",autofocus: true, size: "60x5", :id => "js-copytext"%>
  </div>
</div>
<button type="button" id="js-copybtn" class="btn btn-gray text-white rounded-pill py-0 offset-10 offset-md-8 mb-3">copy</button>
<!--昼食のフォームを分ける場合-->
<!--<p class="border-top"></p>-->
<!--<div class="field form-group row mt-3">-->
<!-- <p class="col-md-1 offset-md-2">主食</p>-->
<!-- <div class="col-md-3 col-6 offset-md-1">-->
<!--   <%#= f.text_area :staple, placeholder: "内容",autofocus: true, size: "30x1"%>-->
<!-- </div>-->
<!-- <div class="col-md-2 col-5 offset-md-1">-->
<!--   <%#= f.select :staple_quantity,Contact.staple_quantities.keys.map{|k| [I18n.t("enums.contact.staple_quantity.#{k}"),k]} , {}, {class: "form-control"}%>-->
<!-- </div>-->
<!--</div>-->
<!--<div class="field form-group row">-->
<!--  <p class="col-md-1 offset-md-2">主菜</p>-->
<!--  <div class="col-md-3 col-6 offset-md-1">-->
<!--    <%#= f.text_area :main, placeholder: "内容",autofocus: true, size: "30x1"%>-->
<!--  </div>-->
<!--  <div class="col-md-2 col-5 offset-md-1">-->
<!--    <%#= f.select :main_quantity,Contact.main_quantities.keys.map{|k| [I18n.t("enums.contact.main_quantity.#{k}"),k]}, {}, {class: "form-control"} %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="field form-group row">-->
<!--  <p class="col-md-1 offset-md-2">副菜</p>-->
<!--  <div class="col-md-3 col-6 offset-md-1">-->
<!--    <%#= f.text_area :side, placeholder: "内容",autofocus: true, size: "30x1"%>-->
<!--  </div>-->
<!--  <div class="col-md-2 col-5 offset-md-1">-->
<!--    <%#= f.select :side_quantity,Contact.side_quantities.keys.map{|k| [I18n.t("enums.contact.side_quantity.#{k}"),k]} , {}, {class: "form-control"}%>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="field form-group row">-->
<!--  <p class="col-md-1 offset-md-2">デザート</p>-->
<!--  <div class="col-md-3 col-6 offset-md-1">-->
<!--    <%#= f.text_area :dessert, placeholder: "内容",autofocus: true, size: "30x1"%>-->
<!--  </div>-->
<!--  <div class="col-md-2 col-5 offset-md-1">-->
<!--    <%#= f.select :dessert_quantity,Contact.dessert_quantities.keys.map{|k| [I18n.t("enums.contact.dessert_quantity.#{k}"),k]}, {}, {class: "form-control"} %>-->
<!--  </div>-->
<!--</div>-->
<p class="border-top"></p>
<strong class="info-title"><i class="far fa-smile" style="color: orange;"></i> 機嫌</strong>
<div class="field form-group row">
  <div class="col-md-3 mt-3 offset-4">
   <!--</%= f.select :humor,Contact.humors.keys.map{|k| [I18n.t("enums.contact.humor.#{k}"),k]} %>-->
   <%= f.radio_button :humor, "good" %>
   <%= f.label :humor,"良い" ,class:"mr-3"%>
   <%= f.radio_button :humor, "usually" %>
   <%= f.label :humor,"普通" ,class:"mr-3"%>
   <%= f.radio_button :humor, "bad"%>
   <%= f.label :humor,"悪い" %>
  </div>
</div>
<p class="border-top"></p>
<strong class="info-title"><i class="fas fa-bed" style="color: cadetblue;"></i> 午睡</strong>
<div class="field form-group row">
  <div class="col-md-3 col-5 mt-3 offset-4">
    <%= f.time_field :nap_started_at, autofocus: true, required: true %> ～
    <%= f.time_field :nap_finished_at, autofocus: true ,class: "mr-2", required: true%>
  </div>
 </div>
<p class="border-top"></p>
<strong class="info-title"><i class="fas fa-thermometer" style="color: darkseagreen;"></i> 検温</strong>
<div class="field form-group row">
  <div class="col-md-3 mt-3 offset-4">
   <%= f.text_field :temperture, placeholder: "温度", autofocus: true , size: "5x4", required: true%>℃
   <%= f.time_field :tempertured_at, autofocus: true , class:"ml-1", required: true%>
  </div>
</div>
<p class="border-top"></p>
<strong class="info-title"><i class="fas fa-poo" style="color: peru;"></i> 排便</strong>
<div class="field form-group row">
  <div class="col-md-2 col-4 mt-2 offset-4">
    <%= f.select :defecation,Contact.defecations.keys.map{|k| [I18n.t("enums.contact.defecation.#{k}"),k]} , {}, {class: "form-control"}%>
  </div>
  <div class="col-md-3 mt-3 col-4">
    <%= f.text_field :defecation_number, autofocus: true , placeholder: "回数", size: "2x2"%> 回
  </div>
</div>
<p class="border-top"></p>
<strong class="info-title"><i class="fas fa-camera" style="color: gray;"></i> 写真</strong>
<div class="field form-group row">
  <div class="col-md-5 offset-4 mt-3">
    <%= f.file_field :images, multiple: true %>
   </div>
</div>
<p class="border-top"></p>
<strong class="info-title"><i class="far fa-comment" style="color: lightcoral;"></i> コメント</strong>
<div class="field form-group row">
  <div class="col-md-5 offset-md-3 offset-1 mt-3">
    <%= f.text_area :comment, autofocus: true, size: "60x5" %>
  </div>
  <p class="col-md-8 border-top mt-4"></p>
</div>