<p class="col border-top"></p>
  <i class="fas fa-utensils"></i> 昼食
   <div class="field form-group row mt-3">
     <p class="col-md-2">主食</p>
     <div class="col-md-3 ">
       <%=safe_join(contact_form_en.staple.split("\n"),tag(:br))%>
     </div>
     <div class="col-md-4">
       <%= contact_form_en.staple_quantity_i18n %>
     </div>
   </div>
   <div class="field form-group row mt-3">
     <p class="col-md-2">主菜</p>
     <div class="col-md-3">
      <%=safe_join(contact_form_en.main.split("\n"),tag(:br))%>
     </div>
     <div class="col-md-4">
       <%= contact_form_en.main_quantity_i18n %>
     </div>
   </div>
   <div class="field form-group row mt-3">
     <p class="col-md-2">副菜</p>
     <div class="col-md-3">
       <%=safe_join(contact_form_en.side.split("\n"),tag(:br))%>
     </div>
     <div class="col-md-4">
       <%= contact_form_en.side_quantity_i18n %>
     </div>
   </div>
   <div class="field form-group row mt-3">
     <p class="col-md-2">デザート</p>
     <div class="col-md-3">
       <%=safe_join(contact_form_en.dessert.split("\n"),tag(:br))%>
     </div>
     <div class="col-md-4">
       <%= contact_form_en.dessert_quantity_i18n %>
     </div>
   </div>
   <p class="col border-top"></p>
   <i class="far fa-smile"></i> 機嫌
   <div class="field form-group row">
     <div class="col-md-3 offset-2 mt-3">
       <%= contact_form_en.humor_i18n %>
     </div>
   </div>
   <p class="col border-top"></p>
    <i class="fas fa-bed"></i> 午睡
   <div class="field form-group row">
     <div class="col-md-3 offset-2 mt-3">
       <%= contact_form_en.nap_started_at.strftime('%H:%M') %> ～
       <%= contact_form_en.nap_finished_at.strftime('%H:%M') %>
     </div>
     <div class="col-md-3 mt-3">
       <%= contact_form_en.sleep_degree_i18n %>
     </div>
   </div>
   <p class="col border-top"></p>
   <i class="fas fa-thermometer"></i> 検温
   <div class="field form-group row">
     <div class="col-md-1 offset-2 mt-3">
      <%= contact_form_en.temperture %>  ℃
     </div>
     <div class="col-md-3 offset-2 mt-3">
      <%= contact_form_en.tempertured_at.strftime('%H:%M') %>
     </div>
   </div>
     <p class="col border-top"></p>
    <i class="fas fa-poo"></i> 排便
   <div class="field form-group row">
     <div class="col-md-1 offset-2 mt-3">
      <%= contact_form_en.defecation_i18n %>
     </div>
     <div class="col-md-3 offset-2 mt-3">
      <%= contact_form_en.defecation_number %> 回
     </div>
   </div>
   <p class="col border-top"></p>
   <i class="fas fa-camera"></i> 写真
   <div class="field form-group row">
      <div class="col-md-5 offset-2 mt-3">
       <%= image_tag contact_form_en.image, size: "150x150"%>
      </div>
   </div>
   <p class="col border-top"></p>
   <i class="far fa-comment"></i> コメント
   <div class="field form-group row">
      <div class="col-md-5 offset-2 mb-5 mt-3">
       <%=safe_join(contact_form_en.comment.split("\n"),tag(:br))%>
      </div>
   </div>
