<div class="container">
  <%= link_to admin_customer_contacts_path(@customer) do %>
    <h2 class="col-md-7 my-5 text-center under offset-md-2 text-dark"><i class="far fa-clipboard"></i> <%= @customer.name %> さんの連絡帳一覧</h2>
  <% end %>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-12 text-right">
      <%= link_to new_admin_customer_contact_path do %>
        <p class= "btn btn-yellow text-secondary mr-3"><i class="fas fa-edit" aria-hidden="true"></i> 連絡帳作成</p>
      <% end %>
      <%= link_to admin_customer_absents_path do %>
        <p class= "btn btn-yellow text-secondary"><i class="fas fa-notes-medical" aria-hidden="true"></i> 欠席・遅刻連絡</p>
      <% end %>
    </div>
  </div>
   <div class="col-md-10 form-inline flex-row-reverse">
  <%= form_with url: admin_customer_contacts_path ,local: true, method: :get do |f| %>
     <%=  f.date_field :created_at ,class: "form-control col-md-10"%>
    <%= button_tag :type => "submit", :class =>"btn btn-outline-secondary" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
  </div>
  <%= render "admin/contacts/index", contacts: @contacts %>
  <div class="text-center mx-auto">
    <%= paginate @contact_page %>
  </div>
</div>