<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="col-md-5 mt-5 text-center"><%= @customer.name %> さんの連絡帳</h2>
    <div class="col-md-2 col-4 mt-5 ">
      <%= link_to new_admin_customer_contact_path do %>
        <p class= "btn btn-gray text-white"><i class="fas fa-edit" aria-hidden="true"></i> 連絡帳作成</p>
      <% end %>
    </div>
    <div class="col-md-2 col-5 mt-5 ">
      <%= link_to admin_customer_absents_path do %>
        <p class= "btn btn-gray text-white"><i class="fas fa-notes-medical" aria-hidden="true"></i> 欠席・遅刻連絡</p>
      <% end %>
    </div>
  </div>
  <%= render "admin/contacts/index", contacts: @contacts %>
  <div class="text-center mx-auto">
    <%= paginate @contacts %>
  </div>
</div>