<div class="container mb-5">
  <h2 class="mb-5 mt-5">連絡帳<span>（全<%= @contacts_all_count %>件）</span></h2>
   <div class="col-md-6 mx-auto">
      <div class="d-flex justify-content-end mr-3 mb-3">
        <%= link_to new_admin_customer_contact_path do %>
        <div class="border rounded-circle d-flex flex-column" style="height: 40px;width: 40px;">
          <i class="fas fa-plus h4 mb-0 mx-auto my-auto" ></i>
        </div>
        <% end %>
      </div>
    </div>
    <div class='row px-md-0 ml-2 mt-5'>
       <div class='col-md-9 justify-content-end'>
        <div class='row mb-5'>
          <% @contacts.each do |contact| %>
          <% date = contact.created_at.to_s(:detetime)%>

            <div class='card mx-1 border border-0 mr-3'>
               <%= link_to admin_customer_contact_path(@customer,contact) do %>
                 <!--%= image_tag contact.image ,size: "240x160"%>-->
               <% end %>
               <% weeks = ["日","月","火","水","木","金","土"]%>
               <% week = weeks[contact.created_at.wday]%>
               <%= link_to admin_customer_contact_path(@customer,contact) do %>
                 <p class="text-secondary mt-1 mb-0"><%=contact.created_at.strftime("%Y年%m月%d日(#{week})") %></p>
               <% end %>
               </div>
          <% end %>
        </div>
        <div class="text-center mx-auto">
         <!--%= paginate @contacts %>-->
        </div>
      </div>
    </div>
</div>