<div class="container">
  <div class="row">
    <h2 class="col-md-5 mt-5"><%= @customer.name %> さんの連絡帳</h2>
     <div class="col-md-2 mt-5 d-inline-block">
      <%= link_to new_admin_customer_contact_path do %>
        <p class="mt-2"> <i class="fa fa-plus-circle" aria-hidden="true"></i> 連絡帳新規登録</p>
      <% end %>
    </div>
      <div class="col-md-2 mt-5 d-inline-block">
      <%= link_to admin_customer_absents_path do %>
        <p class="mt-2"> <i class="fa fa-plus-circle" aria-hidden="true"></i> 欠席・遅刻連絡</p>
      <% end %>
    </div>
    <div class="col-md-2 mt-5 d-inline-block">
      <%= link_to admin_customer_confirm_path(@customer.id) do %>
        <p class="mt-2"> <i class="fa fa-plus-circle" aria-hidden="true"></i> 連絡帳下書き一覧</p>
      <% end %>
    </div>
  </div>
    <%= render "admin/contacts/index", contacts: @contacts %>
    <div class="text-center mx-auto">
         <%= paginate @contacts %>
    </div>
  </div>