<div class="container">
  <h2 class="col-md-7 mt-5 text-center">クラス登録/一覧</h2>
  <%= form_with(model: @group,url: admin_groups_path, local: true, class: 'needs-validation', html: {novalidate: true}) do |f| %>
    <%= render partial: "admin/groups/form", locals: { f: f } %>
    <div class="col-md-8 text-right">
      <%= f.submit "新規登録", class: "btn btn-gray text-white rounded-pill col-md-2 mt-3 col-3" %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 mt-5 table-responsive offset-md-2">
      <table class="table table-bordered text-nowrap">
        <thead class="thead-light">
          <tr>
            <th>クラス名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td class="text-center">
              <%= link_to "編集する", edit_admin_group_path(group.id),class: "btn btn-outline-secondary rounded-pill" %>
              <%= link_to "削除する", admin_group_path(group.id), class: "btn btn-outline-danger rounded-pill ml-3", method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col offset-5 text-center">
    <%= paginate @groups %>
  </div>
</div>
