<div class="container mb-5">
  <div class="row d-flex justify-content-center">
    <h2 class="col-lg-7 text-center under mt-5"><%= @customer.name %>さん 欠席・遅刻連絡<span>（全<%= @absents.count %>件）</span></h2>
    <div class="col-md-8 mt-5">
      <table class="table table-hover">
        <tbody>
          <th class="bg-green text-white">投稿日</th>
          <th class="bg-green text-white"></th>
          <% @absents.each do |absent| %>
          <% date = absent.created_at.to_s(:detetime)%>
            <tr onclick='window.location="<%= absent_path(absent)  %>"' role="link">
              <td><%= l(absent.created_at, format: :short) %></td>
              <td><%= absent.kind_i18n %>連絡</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
