<div class="container">
<h2 class="text-dark text-center col-md-3 mt-5">ログイン</h2>
<div class="row mt-5 ml-3">
    <h5 class="bg-light text-center">会員の方はこちらからログイン</h5>
</div>
<div class="col g-3 needs-validation novalidate">
  <%= form_with(model: @customer, url: customer_session_path, local: true, class: 'needs-validation', html: {novalidate: true}) do |f| %>
  <div class="form_group row mt-3 mb-3">
    <%= f.label :"メールアドレス", class: "col-md-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,autofocus: true, class: 'form-control col-md-6 ', required: true %>
    <div class="invalid-feedback row offset-3">
        メールアドレスを入力してください。
    </div>
  </div>
  <div class="form_group row">
    <%= f.label :"パスワード", class: "col-md-3" %>
    <%= f.password_field :password, autocomplete: "current-password" ,autofocus: true, class: 'form-control col-md-6 ', required: true%>
    <div class="invalid-feedback row offset-3">
      パスワードを入力してください。
    </div>
  </div>
  <div class="actions row mt-5">
    <%= f.submit "ログイン", class: "btn btn-gray rounded-pill text-white col-md-3 offset-md-3 offset-3 col-6" %>
  </div>
  <% end %>
</div>
</div>


