<div class="navbar-collapse collapse show" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">
    <li class="d-inline-block">
      <%= link_to admin_groups_path, class:"nav-link text-white" do %>
        <i class="fas fa-users"></i>クラス一覧
      <% end %>
    </li>
    <li class="d-inline-block">
      <%= link_to admin_customers_path , class:"nav-link text-white" do%>
        <i class="far fa-clipboard"></i>会員一覧
      <% end %>
    </li>
    <li class="d-inline-block">
      <%= link_to admin_news_index_path , class:"nav-link text-white" do%>
        <i class="fas fa-bullhorn"></i>お知らせ一覧
      <% end %>
    </li>
    <li class="d-inline-block">
      <%= link_to admin_games_path, class:"nav-link text-white" do %>
        <i class="fas fa-asterisk"></i>遊び一覧
      <% end %>
    </li>
    <li class="d-inline-block">
      <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-white" do %>
        <i class="fas fa-sign-out-alt"></i>ログアウト
      <% end %>
    </li>
    <li class="d-inline-block">
      <% if unchecked_notifications.any? %>
      <%= link_to admin_notifications_path, class:"nav-link text-white" do %>
        <span class="fa-stack"><i class="far fa-bell fa-stack-2x" style="font-size: 0.6em;"></i>
          <span class="fa-3x fa-layers-counter" style="background:gold;color: black;"><%=Notification.where(checked: false, send_by_admin: true).count %></span>
        </span>お知らせ
      <% end %>
      <% else %>
        <%= link_to admin_notifications_path, class:"nav-link text-white" do %>
         <i class="far fa-bell"></i>お知らせ
        <% end %>
      <% end %>
    </li>
  </ul>
</div>