<!DOCTYPE html>
<html>
  <head>
    <title>Childcare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d0d4efae44.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <header class="shadow-sm bg-green">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <%= link_to root_path, class: 'text-white navbar-brand title_logo' do %>
            <strong>C</strong>HILD <strong>C</strong>are<i class="fas fa-seedling"></i>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <% if customer_signed_in? %>
            <%=render 'layouts/customer_header' %>
          <% elsif admin_signed_in? %>
            <%=render 'layouts/admin_header' %>
          <% else %>
            <%=render 'layouts/guest_header' %>
          <% end %>
        </div>
      </nav>
    </header>
    <% flash.each do |type,message| %>
      <div class="alert alert-warning text-center" role="alert">
       <%= message %>
    <% end %>
    </div>
   <%= yield %>
  <div style="height: 100px;"></div>
  <footer class="fixed-bottom bg-green">
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto mt-3'>
    		<p class="text-white">Child Care</p>
    	</div>
    </div>
  </div>
  </footer>
</body>
</html>
